@import "./assets/css/fonts.css";
@import "tailwindcss";
@theme {
  --font-icons: "Material Symbols Outlined";
  --font-icons--font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0,
    "opsz" 24;
}

:root {
  --header-height: var(--container-4xs);
  font-size: clamp(12px, 2.5vw, 18px);
}

.icons {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
