@import "./assets/css/fonts.css";
:root {
  --header-height: 6rem;
  --button-height: 20px;
  font-size: clamp(12px, 2.5vw, 18px);
}
#root {
  margin: 0 auto;
  text-align: center;
  background-color: #eceff1;
  height: 100vh;
  overflow: scroll;
}
.container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
}
header {
  background-color: black;
  height: var(--header-height);
  color: white;
  position: sticky;
  top: 0;
  z-index: 30;

  & .container {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
  }

  .logo {
    font-size: 2.3rem;
    font-weight: 300;
  }

  .User {
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 1rem;
    .avatar {
      background-color: white;
      color: black;
      font-size: 1.5rem;
      border-radius: 50%;
    }
  }
}
.main {
  .container {
    flex-direction: column;
    padding: 10px;
  }
  .account {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      z-index: 10;
      width: 100%;
      display: flex;
      color: white;
      font-size: 1.5rem;
      justify-content: space-between;
      box-shadow: 5px 5px 5px lightgray;
      border-radius: 5px;
      padding: 20px;
      position: sticky;
      top: var(--header-height);
    }
    .operations {
      width: calc(100% - 4.7rem);

      .operation {
        display: flex;
        gap: 5px;
        min-height: 30px;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: space-between;

        &:nth-child(2n) {
          background-color: #ffffff;
        }
        &:nth-child(2n + 1) {
          background-color: #f7f7f7;
        }
        .date {
          color: rgb(151, 151, 151);
          width: 100%;
          text-align: left;
        }
        .description {
          margin-right: auto;
          text-wrap: nowrap;
        }
        .amount {
          font-family: monospace;
        }
      }
      .buttonLine {
        display: flex;
        justify-content: flex-end;
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        background-color: #f7f7f7;
        height: var(--button-height);
        border-radius: calc(var(--button-height) / 2);
        padding: 20px;
        margin-top: 20px;
      }
    }
  }
}

@media (width > 768px) {
  .main {
    .account {
      .operations {
        .operation {
          .date {
            width: 100px;
          }
        }
      }
    }
  }
}
